/* line 12, sass/mediainfo.sass */
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #333;
  background-color: #eee;
  background-image: url('img/bg.png?1456234244');
  margin: 25px;
  text-shadow: 0 1px 0 white;
}

/* line 22, sass/mediainfo.sass */
.center {
  text-align: center;
}

/* line 25, sass/mediainfo.sass */
.hidden {
  display: none;
}

/* line 28, sass/mediainfo.sass */
.pull-right {
  float: right;
}

/* line 31, sass/mediainfo.sass */
.big {
  font-size: 200%;
}

/* line 34, sass/mediainfo.sass */
.small {
  font-size: 80%;
}

/* line 37, sass/mediainfo.sass */
.fa-padded {
  margin-right: 0.5rem;
}

/* line 40, sass/mediainfo.sass */
.blue {
  color: #458ccc;
}

/* line 43, sass/mediainfo.sass */
h2 i {
  margin-right: 0.5rem;
}

/* line 46, sass/mediainfo.sass */
a {
  color: black;
  text-decoration: underline;
}
/* line 50, sass/mediainfo.sass */
a:hover, a:active, a:visited {
  color: #333;
  text-decoration: none;
}

/* line 54, sass/mediainfo.sass */
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-right: none;
  border-bottom: none;
  border-left: none;
}

/* line 60, sass/mediainfo.sass */
tt, code, kbd, samp, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/* line 63, sass/mediainfo.sass */
#page {
  max-width: 850px;
  margin: 0 auto;
}

/* line 69, sass/mediainfo.sass */
nav#menu > ul {
  padding-left: 0;
  margin: 0;
}
/* line 73, sass/mediainfo.sass */
nav#menu > ul > li {
  list-style-type: none;
  display: inline-block;
}
/* line 77, sass/mediainfo.sass */
nav#menu a {
  display: inline-block;
  padding: 0.5rem 0;
  margin: 0 1rem 0 0;
  font-size: 110%;
  text-decoration: none;
}
/* line 84, sass/mediainfo.sass */
nav#menu a.active {
  text-decoration: underline;
}
/* line 87, sass/mediainfo.sass */
nav#menu hr {
  margin: 0 0 2rem;
}

/* line 90, sass/mediainfo.sass */
#dropzone {
  height: 180px;
  -moz-transition-property: color, background-color, border-color;
  -o-transition-property: color, background-color, border-color;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  position: relative;
  overflow: hidden;
  color: #555;
  border: 5px dashed rgba(0, 0, 0, 0.25);
}
/* line 100, sass/mediainfo.sass */
#dropzone.dragover {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.25);
}
/* line 105, sass/mediainfo.sass */
#dropzone #loader, #dropzone #status {
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  width: 100%;
}
/* line 111, sass/mediainfo.sass */
#dropzone #dropcontrols {
  height: 100%;
}
/* line 114, sass/mediainfo.sass */
#dropzone #dropcontrols #dropcontrolstext {
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  width: 100%;
}
/* line 120, sass/mediainfo.sass */
#dropzone #dropcontrols #fileinput {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
}
/* line 131, sass/mediainfo.sass */
#dropzone #status i {
  vertical-align: middle;
  margin-right: 0.5rem;
}
/* line 135, sass/mediainfo.sass */
#dropzone #status #status-percent-wrapper {
  color: #777;
}

/* line 140, sass/mediainfo.sass */
#resultscontainer .result {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
}
/* line 144, sass/mediainfo.sass */
#resultscontainer .result pre {
  margin: 0;
}

/* line 147, sass/mediainfo.sass */
footer {
  margin: 3rem 0 0.7rem;
}
